<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fi.aalto.kutsuplus"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light">
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        

        <!-- form -->
        <activity
            android:name="fi.aalto.kutsuplus.FormFragment">
        </activity>
        
        <!-- SMS handling -->
        <activity
          android:name="fi.aalto.kutsuplus.SMSNotificationActivity"
          android:label="@string/title_sms_notification"
          android:parentActivityName="fi.aalto.kutsuplus.MainActivity" >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="fi.aalto.kutsuplus.MainActivity" />
        </activity>
          <receiver android:name="fi.aalto.kutsuplus.sms.SMSReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
