<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
      package="fi.aalto.kutsuplus"
      android:versionCode="1"
      android:versionName="1.0">
      
    <uses-sdk android:minSdkVersion="8" android:targetSdkVersion="19"/>
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.WRITE_SMS" />
    <uses-permission android:name="android.permission.RECEIVE_MMS" />
    
    <!-- Google Map API required permissions -->
    
    <permission
          android:name="fi.aalto.kutsuplus.permission.MAPS_RECEIVE"
          android:protectionLevel="signature"/>
	<uses-permission android:name="fi.aalto.kutsuplus.permission.MAPS_RECEIVE"/>
    <uses-permission android:name="android.permission.INTERNET"/>
	<uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<!-- The following two permissions are not required to use
	    Google Maps Android API v2, but are recommended. -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
	
<uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES"/>
	
	<!-- recommended requirement for Google map: OpenGL ES version 2 -->
	<uses-feature
        android:glEsVersion="0x00020000"
        android:required="true"/>
    
	
    <application android:label="@string/app_name" android:icon="@drawable/ic_launcher"
        android:allowBackup="true"
        android:theme="@style/Theme.AppCompat.Light">
        <uses-library android:name="com.google.android.maps" />
        <activity android:name=".MainActivity"
                  android:label="@string/app_name">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             <meta-data
                android:name="android.support.UI_OPTIONS"
                android:value="splitActionBarWhenNarrow" />
        </activity>
        

        <!-- form -->
        <activity
            android:name="fi.aalto.kutsuplus.FormFragment">
        </activity>
        
        <!-- SMS handling -->
        <activity
          android:name="fi.aalto.kutsuplus.SMSNotificationActivity"
          android:label="@string/title_sms_notification"
          android:parentActivityName="fi.aalto.kutsuplus.MainActivity" >
          <meta-data
            android:name="android.support.PARENT_ACTIVITY"
            android:value="fi.aalto.kutsuplus.MainActivity" />
        </activity>
        <activity android:name="fi.aalto.kutsuplus.SettingsActivity" android:label="@string/title_settings" />
                
          <receiver android:name="fi.aalto.kutsuplus.sms.SMSReceiver" >
            <intent-filter>
                <action android:name="android.provider.Telephony.SMS_RECEIVED" />
            </intent-filter>
        </receiver>
        
        <!-- added for google map -->
        <meta-data
		    android:name="com.google.android.gms.version"
		    android:value="@integer/google_play_services_version" />
        <!-- NB! this API key is only for debugging -->
        <!-- NB! steps to get release-key: -->
        <!-- https://developers.google.com/maps/documentation/android/start -->
        <meta-data
		    android:name="com.google.android.maps.v2.API_KEY"
		    android:value="AIzaSyB3gGnK-db4DMY2jfZ_jnxXJSm3WKaZtok"/>
    </application>
</manifest>
